body {
    font-family: Arial;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    border: 1px solid #aaa;
    padding: 10px;
}

.produto {
    padding: 15px;
    margin: 10px;
    background: #f2f2f2;
    border-radius: 8px;
}